
  * {
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  .container {
    width: 1240px;
    margin: 0 auto;
  }
  
  .wrapper-bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/bg.png);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  