.hero {
   &__content {
        width: 527px;
        margin-top: 15vh;
    }
    &__title {
        @include textSize (700, 64px, 67px);
    }
    &__text {
        @include textSize (400, 24px, 28px);
    }
    &__links-btn {
        @include textSize (500, 18px, 27px);
        text-decoration: none;
        display: inline-block;
        padding: 10px 33px;
        background: $main-red;
        box-shadow: 0px 2px 4px #831219;

        margin-top: 39px;
    }

    
    
}