.travel {
    margin-top: 26px;
    margin-bottom: 69px;
    @include flex (end, space-between);

    &__content-wrapper {
        width: 296px;
        display: flex;
        flex-direction: column;
    }
    &__content {
        padding: 23px 35px;
        background: linear-gradient(90.44deg, rgba(255, 255, 255, 0.5) -3.55%, rgba(255, 255, 255, 0) 120.14%);
        backdrop-filter: blur(11.7037px); 
    }
    
    &__title {
        @include textSize (900, 19px, 22px);
        margin-bottom: 4px;
    }
    &__text {
        @include textSize (400, 14px, 17px);
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        padding: 19px 60px 19px;
        text-align: right;

        @include textSize (500, 14px, 17px);
        background-color: $main-red;
    }
    &__link::after {
        content: url(../img/arrow.svg);
        position: relative;
        left: 14px;
    }

    &__social-networks {
        @include flex (center, start) {
            gap: 20px;
        }
        .fb {
            width: 12px;
            height: 22px;
        }
        .twitter {
            width: 21px;
            height: 18px;
        }
        .instagram {
            width: 21px;
            height: 21px;
        }
    }
}